<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @submission.body %>
</p>

<p>
  <strong>Url:</strong>
  <%= @submission.url %>
</p>

<%
=begin%>
 <%= debug(@submission.submission_image) %> 
<%
=end%>

<p>
  <%= image_tag @submission.submission_image.large.url, width: 400 if @submission.submission_image.present? %>
</p>

<p>
  <%= video_tag @submission.submission_video if @submission.submission_video.present? %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
